name: Android CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle (Debug Mode)
      # 这里的 assembleDebug 会自动使用通用签名，生成的 APK 就能装了！
      run: ./gradlew assembleDebug -x lint

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        # 注意这里路径也变成了 debug
        path: app/build/outputs/apk/debug/*.apk
